<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4><%= @article.title %></h4>
    </div>
      <div class="col-2 ml-auto">
        <%= link_to "編集する", edit_admin_article_path(@article.id), class:"btn btn-primary py-0" %>
      </div>
  </div>
  <!--slideshow skippr-->
  <div class="row mb-3">
    <div class="col-md-8 p-0 mx-auto text-center d-flex align-items-end">
      <div class="slideshow">
        <% if @article.article_images.present? %>
          <% @article.article_images.each do |img| %>
            <%= attachment_image_tag img, :image %>
          <% end %>
        <% else %>
          <%= image_tag "smart-home_640.jpg", width:"200" %>
        <% end %>
      </div>
    </div>
  </div>
  <!--article text content-->
  <div class="row mb-3">
    <div class="col-md-9 p-0 mx-auto">
      <%= simple_format(h(@article.content)) %>
    </div>
  </div>
  <!--Likes-->
  <div class="row mb-3 ">
    <div class="col-md-9 px-0 mx-auto">
      <span class="btn btn-primary">いいね♥<%= @article.likes.count %></span>
    </div>
  </div>
  <!--Comment list-->
  <% @article.comments.each do |comment| %>
    <div class="row mb-3">
      <div class="col-md-9 px-0 mx-auto">
        <%= comment.user.name %>
        <%= comment.body %>
      </div>
    </div>
  <% end %>
</div>