<div class="container">
    <div class="row mb-3">
      <div class="col-md">
        <h4>検索キーワード："<%= @word_for_search %>"（全<%= @articles.size %>件）</h4>
      </div>
    </div>
  <% @articles.each do |article| %>
    <div class="row mb-3 d-flex align-items-center">
      <div class="col-md-2 offset-md-1">
<!---------after edit------------>
         <!--article.images.each do |img| -->
          
         <!--end -->
<!--------------------->
        <img src="/assets/smart-home-3096224_640" class="img-thumbnail" width="200" />
      </div>
      <div class="col">
        <%= article.title %>
        <%= article.user.name %>
        <%= article.updated_at.strftime('%Y/%m/%d') %>
        いいね <%= article.likes_count %>件
      </div>
      <div clas="col">
        <%= link_to "編集する", edit_article_path(article.id), class:"btn btn-primary" %>
        <%= link_to "削除する", article_path(article.id), method: :delete, class:"btn btn-danger", data: { confirm: '本当に削除しますか？' } %>
      </div>
    </div>
  <% end %>
</div>