<div class="container">
  <div class="row mb-5">
    <div class="col-8 p-0 mx-auto shadow main-visual text-center d-flex align-items-end">
        <div class="main-visual-content text-light">
          ようこそ、TecTileへ！<br />
          お役立ちガジェット、趣味のIoTの情報投稿サイトです<br />
          会員登録をすると記事の投稿、いいね・コメントができます<br />
          (Gerd AltmannによるPixabayからの画像)
        </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">
      <h4>新着記事</h4>
    </div>
  </div>
  <div class="row mb-3 justify-content-around">
    <% if @articles.present? %>
      <% @articles.each do |article| %>
        <div class="col-3 shadow float text-center align-self-center">
          <!--〇管理者用　記事詳細ページへのリンク-->
          <% if current_admin %>
            <%= link_to admin_article_path(article.id) do %>
              <!--画像がある場合、代表として1枚目-->
              <% if article.article_images.present? %>
                <% article.article_images.first(1).each do |img| %>
                  <%= attachment_image_tag img, :image, class:"img-thumbnail", width:"200" %>
                <% end %>
              <!--画像がない場合、代替画像-->
              <% else %>
                <%= image_tag "smart-home_640.jpg", width:"200" %>
              <% end %>
              <h5><%= article.title %></h5>
            <% end %>
          
          <!--一般・会員用　記事詳細ページへのリンク-->
          <% else %>
            <%= link_to article_path(article.id) do %>
              <% if article.article_images.present? %>
                <% article.article_images.first(1).each do |img| %>
                  <%= attachment_image_tag img, :image, class:"img-thumbnail", width:"200" %>
                <% end %>
              <% else %>
                <%= image_tag "smart-home_640.jpg", width:"200" %>
              <% end %>
              <h5><%= article.title %></h5>
            <% end %>
          <% end %>

          <h5>投稿者：<%= article.user.name %></h5>
          <h5><%= article.likes.size %>いいね</h5>
          <h5>更新日：<%= article.updated_at.strftime('%Y/%m/%d') %></h5>
        </div>
      <% end %>
    <% else %>
      <div class="col offset-md-1">
        <h5>投稿記事はありません。</h5>
    　</div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col">
      <% if current_admin %>
        <%= link_to "全ての記事を見る", admin_articles_path, class:"h5 fab fa-flipboard float-right" %>
      <% else %>
        <%= link_to "全ての記事を見る", articles_path, class:"h5 fab fa-flipboard float-right" %>
      <% end %>
    </div>
  </div>
</div>