<div class="container">
  <div class="row mb-5">
    <div class="col-8 p-0 mx-auto main-visual text-center d-flex align-items-end">
        <div class="main-visual-content text-light">
          ようこそ、TecTileへ！<br />
          お役立ちガジェット、趣味のIoTの情報投稿サイトです<br />
          会員登録をすると記事の投稿、いいね・コメントができます
        </div>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col">
      <h4>新着記事</h4>
    </div>
  </div>
  <div class="row mb-3 justify-content-around">
    <!--% @articles.each do |f| %>-->
    <% if @articles.present? %>
      <% @articles.each do |f| %>
        <div class="col-3 shadow float">
          <img src="/assets/smart-home-3096224_640" class="img-thumbnail" />
          <h5><%= f.title %></h5>
          <h5><%= f.user.name %></h5>
          <h5><%= f.likes.size %></h5>
          <h5><%= f.created_at %></h5>
        </div>
      <% end %>
    <% else %>
      <div class="col offset-md-1">
        <h5>投稿記事はありません。</h5>
    　</div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col">
      <%= link_to "全ての記事を見る", articles_path, class:"h5 fab fa-flipboard float-right" %>
    </div>
  </div>
</div>