<div class="container">
  <% if @range_option == "記事検索" %>
    <div class="row mb-3">
      <div class="col-md">
        <h4>記事検索</h4>
        <h5>キーワード："<%= @word_for_search %>"（全<%= @articles.size %>件）</h5>
      </div>
    </div>
    <!--記事リスト-->
    <%= render partial: "/admin/articles/list", locals: {articles: @articles} %>
    
  <% else %>
    <div class="row mb-3">
      <div class="col-md">
        <h4>会員検索</h4>
        <h5>キーワード："<%= @word_for_search %>"（全<%= @users.size %>件）</h5>
      </div>
    </div>
    <!--会員リスト-->
    <%= render partial: "/admin/users/list", locals: {users: @users} %>
  <% end %>
</div>