<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4><%= @article.title %></h4>
    </div>
    <% if @article.user == current_user %>
      <div class="col-2 ml-auto">
        <%= link_to "編集する", edit_article_path(@article.id), class:"btn btn-primary py-0" %>
      </div>
    <% end %>
  </div>
  <div class="row mb-3">
    <div class="col-md-8 p-0 mx-auto text-center d-flex align-items-end">
      <div class="slideshow">
        <% @article.article_images.each do |img| %>
          <%= attachment_image_tag img, :image, class:"img-thumbnail", width:"200" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-9 p-0 mx-auto">
      <%= simple_format(h(@article.content)) %>
    </div>
  </div>
  
<!--会員-->
  <% if user_signed_in? %>
    <!--非同期いいねボタン create.js destroy.js -->
    <div class="row mb-3">
      <div class="col-md-2" id="likes_btn_<%= @article.id %>">
        <%= render partial: 'public/likes/like', locals: {article: @article} %>
      </div>

      <div class="col-md-2">
        <!--コメント入力窓の表示切り替え-->
        <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#newcomment" aria-controls="newcomment" aria-expanded="false" aria-label="Toggle newcomment">
          コメントする
        </button>
      </div>
    </div>
    <!--非同期コメント一覧 create.js destroy.js-->
    <div id="comments">
      <%= render partial: 'public/comments/comment', locals: {article: @article} %>
    </div>
    <!--非同期コメント入力窓 create.js, ボタンで表示、非表示-->
    <div class="row mb-3">
      <div class="col collapse" id="newcomment">
        <%= render partial: 'public/comments/form', locals: {article: @article, comment: @comment} %>
      </div>
    </div>
    
<!--一般閲覧者-->
  <% else %>
    <!--いいねボタン -> ログイン画面へ遷移-->
    <div class="row mb-3">
      <div class="col-md-2">
        <%= link_to "いいね♡#{@article.likes_count}", article_likes_path(@article), class:"btn btn-primary", method: :post %>
      </div>
    </div>
    <!--コメント一覧-->
    <% @article.comments.each do |comment| %>
      <div class="row mb-3">
        <div class="col">
          <%= comment.user.name %>
          <%= comment.body %>
        </div>
      </div>
    <% end %>
    
  <% end %>
</div>