<div class="container">
  <div class="row mb-3">
    <div class="col">
      <h4><%= @article.title %></h4>
    </div>
    <% if @article.user == current_user %>
      <div class="col-2 ml-auto">
        <%= link_to "編集する", edit_article_path(@article.id), class:"btn btn-primary py-0" %>
      </div>
    <% end %>
  </div>
  <!--slideshow; skippr-->
  <div class="row mb-3">
    <div class="col-md-8 p-0 mx-auto text-center d-flex align-items-end">
      <div class="slideshow">
        <% if @article.article_images.present? %>
          <% @article.article_images.each do |img| %>
            <%= attachment_image_tag img, :image %>
          <% end %>
        <% else %>
          <%= image_tag "smart-home_640.jpg", width:"200" %>
        <% end %>
      </div>
    </div>
  </div>
  <!--article text content-->
  <div class="row mb-3">
    <div class="col-md-9 p-0 mx-auto">
      <%= simple_format(h(@article.content)) %>
    </div>
  </div>
  
<!--members-->
  <% if user_signed_in? %>
    <div class="row mb-3 ">
      <div class="col-md-9 px-0 mx-auto">
        <!--Ajax Like button; create.js destroy.js -->
        <span id="likes_btn_<%= @article.id %>">
          <%= render partial: 'public/likes/like', locals: {article: @article} %>
        </span>
        <!--interract button for comment area-->
        <button class="btn btn-success offset-md-1" type="button" data-toggle="collapse" data-target="#newcomment" aria-controls="newcomment" aria-expanded="false" aria-label="Toggle newcomment">
          コメントする
        </button>
      </div>
    </div>
    <!--Ajax Comment list; create.js destroy.js-->
    <div class="row mb-3 ">
      <div class="col-md-9 px-0 mx-auto">
        <table id="comments">
          <%= render partial: 'public/comments/comment', locals: {article: @article} %>
        </table>
      </div>
    </div>
    <!--Ajax cllapsible comment area; create.js-->
    <div class="row mb-3">
      <div class="col-md-9 px-0 mx-auto collapse" id="newcomment">
        <%= render partial: 'public/comments/form', locals: {article: @article, comment: @comment} %>
      </div>
    </div>
    
<!--non-members-->
  <% else %>
    <!--HTML Like button; -> redirect_to /users/sign_in-->
    <div class="row mb-3 ">
      <div class="col-md-9 px-0 mx-auto">
        <!--Ajax Like button; create.js destroy.js -->
        <%= link_to "いいね♡#{@article.likes_count}", article_likes_path(@article), class:"btn btn-primary", method: :post %>
      </div>
    </div>
    <!--HTML Comment list-->
    <div class="row mb-3 ">
      <div class="col-md-9 px-0 mx-auto">
        <table id="comments">
          <%= render partial: 'public/comments/comment', locals: {article: @article} %>
        </table>
      </div>
    </div>
    
  <% end %>
</div>