<div class="container">
  <% @user.each do |user| %>
    <div class="row mb-3">
      <div class="col-md-3">
        <h4><%= user.name %>様</h4>
      </div>
      <div class="col">
        <%= link_to "会員情報を編集する", edit_user_path, class:"btn btn-success" %>
      </div>
    </div>
    
    <div class="row mb-3">
    <!--投稿バッジ-->
      <div class="col">
        <h5>投稿数：<%= user.articles.size %>件</h5>
        <div class="col text-light bg-dark">
          <% user.articles.size.times do |n| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>投稿バッジ <%= user.articles.size %>個獲得！</h5>
        </div>
      </div>
      
    <!--いいねバッジ-->
      <div class="col">
        <h5>獲得いいね数：<%= user.articles.sum(:likes_count) %>件</h5>
        <div class="col text-light bg-dark">
          <% user.articles.sum(:likes_count).times do |n| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>いいねバッジ <%= user.articles.sum(:likes_count) %>個獲得！</h5>
        </div>
      </div>
  
    <!--いいね貢献バッジ-->
      <div class="col">
        <h5>いいねした数：<%= user.likes.size %>件</h5>
        <div class="col text-light bg-dark rounded">
          <% user.likes.size.times do |n| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>いいね貢献バッジ <%= user.likes.size %>個獲得！</h5>
        </div>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col">
        <h4>投稿記事の管理</h4>
      </div>
    </div>
  <% end %>
  <!--記事リスト-->
  <%= render partial: "/public/articles/list", locals: {articles: @articles} %>
  
</div>