<div class="container">
  <% @user.each do |f| %>
    <div class="row mb-3">
      <div class="col-md-3">
        <h4><%= f.name %>様</h4>
      </div>
      <div class="col">
        <%= link_to "会員情報を編集する", edit_user_path, class:"btn btn-success" %>
      </div>
    </div>
    
    <div class="row mb-3">
    <!--投稿バッジ-->
      <div class="col">
        <h5>投稿数：<%= f.articles.size %>件</h5>
        <div class="col text-light bg-dark">
          <% f.articles.size.times do |b| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>投稿バッジ <%= f.articles.size %>個獲得！</h5>
        </div>
      </div>
      
    <!--いいねバッジ-->
      <div class="col">
        <h5>獲得いいね数：<%= f.articles.sum(:likes_count) %>件</h5>
        <div class="col text-light bg-dark">
          <% f.articles.sum(:likes_count).times do |b| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>いいねバッジ <%= f.articles.sum(:likes_count) %>個獲得！</h5>
        </div>
      </div>
  
    <!--いいね貢献バッジ-->
      <div class="col">
        <h5>いいねした数：<%= f.likes.size %>件</h5>
        <div class="col text-light bg-dark rounded">
          <% f.likes.size.times do |b| %>
            <i class="h4 mt-1 fas fa-medal"></i>
          <% end %>
          <h5>いいね貢献バッジ <%= f.likes.size %>個獲得！</h5>
        </div>
      </div>
    </div>
  
  <div class="row mb-3">
    <div class="col">
      <h4>投稿記事の管理</h4>
    </div>
  </div>
  
  <!--@user.each do |f| *above this-->
  <% f.articles.each do |article| %>
    <div class="row mb-3 d-flex align-items-center">
      <div class="col-md-2 offset-md-1">
        <%= link_to article_path(article.id) do %>
          <% article.article_images.first(1).each do |img| %>
            <%= attachment_image_tag img, :image, class:"img-thumbnail", width:"200" %>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= link_to article_path(article.id) do %>
          <%= article.title %>
        <% end %>
        <%= f.name %>
        <%= f.updated_at.strftime('%Y/%m/%d') %>
        いいね <%= article.likes_count %>件
      </div>
      <div clas="col">
        <%= link_to "編集する", edit_article_path(article.id), class:"btn btn-primary" %>
        <%= link_to "削除する", article_path(article.id), method: :delete, class:"btn btn-danger", data: { confirm: '本当に削除しますか？' } %>
      </div>
    </div>
  <% end %>
</div>
  <% end %>