<!DOCTYPE html>
<html>
  <head>
    <title>Tectile｜趣味のIoTを楽しむための情報投稿サイト</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm mb-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
              <%= link_to "TecTile", root_path, class:"my-0 h1 logo text-dark font-weight-bold text-decoration-none" %>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarcontent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <%= link_to "About", about_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "記事リスト", articles_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarsearch" aria-controls="navbarsearch" aria-expanded="false" aria-label="Toggle search">
                    <p class="nav-link mb-0">検索</p>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "管理者ログイン", new_admin_session_path, class:"nav-link" %>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 ml-auto collapse navbar-collapse" id="navbarsearch">
            <form class="form-inline mb-2">
              <input class="form-control" type="search" placeholder="Search..." aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </header>
    
    <%= yield %>
    <footer class="bg-dark">
      <div class="container">
        <h6 class="text-light text-right py-5">Copyright © TecTile All Rights Reserved.</h6>
      </div>
    </footer>
  </body>
</html>
