<!DOCTYPE html>
<html>
  <head>
    <title>Tectile｜趣味のIoTを楽しむための情報投稿サイト</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="shadow-sm mb-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-md navbar-light px-0 bg-light">
              <%= link_to "TecTile", root_path, class:"my-0 h1 logo text-dark font-weight-bold text-decoration-none" %>
              <h6 class="my-auto offset-md-1">
                <% if current_user %>
                  <i class="h4 fas fa-user-check"></i>ようこそ、<%= current_user.name %>様！
                <% elsif current_admin %>
                  <i class="h4 fas fa-key"></i>管理者としてログインしています！
                <% else %>
                  <!--表示なし-->
                <% end %>
              </h6>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarcontent">
                <ul class="navbar-nav ml-auto">
                  <!--会員メニュー-->
                  <% if current_user %>
                    <li class="nav-item">
                      <%= link_to "マイページ", user_path(current_user.id), class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "記事リスト", articles_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarsearch" aria-controls="navbarsearch" aria-expanded="false" aria-label="Toggle search">
                      <p class="nav-link mb-0">検索</p>
                    </li>
                    <li class="nav-item">
                      <%= link_to "投稿する", new_article_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_user_session_path, class:"nav-link", method: :delete %>
                    </li>
                    
                  <!--管理者メニュー-->
                  <% elsif current_admin %>
                    <li class="nav-item">
                      <%= link_to "会員リスト", admin_users_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "記事リスト", admin_articles_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarsearch" aria-controls="navbarsearch" aria-expanded="false" aria-label="Toggle search">
                      <p class="nav-link mb-0">検索</p>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログアウト", destroy_admin_session_path, class:"nav-link", method: :delete %>
                    </li>
                    
                  <!--一般メニュー-->
                  <% else %>
                    <li class="nav-item">
                      <%= link_to "About", about_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "記事リスト", articles_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item" type="button" data-toggle="collapse" data-target="#navbarsearch" aria-controls="navbarsearch" aria-expanded="false" aria-label="Toggle search">
                      <p class="nav-link mb-0">検索</p>
                    </li>
                    <li class="nav-item">
                      <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "管理者ログイン", new_admin_session_path, class:"nav-link" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </nav>
          </div>
          
          <!--管理者：検索窓（会員検索、記事検索）-->
          <% if current_admin %>
            <div class="col collapse navbar-collapse" id="navbarsearch">
              <%= form_with url: admin_search_path, method: :get, local: true, class:"form-inline" do |f| %>
                <%= f.text_field :word_for_search, class:"form-control", size:'40',placeholder: "キーワードを入力" %>
                <%= f.select :range_option, options_for_select([["記事検索"], ["会員検索"]]), {}, {class:"btn btn-outline-secondary"} %>
                <%= f.submit "Search", class:"btn btn-outline-success" %>
              <% end %>
            </div>
          <!--会員/一般：検索窓-->
          <% else %>
            <div class="col collapse navbar-collapse" id="navbarsearch">
              <%= form_with url: search_path, method: :get, local: true, class:"form-inline" do |f| %>
                <%= f.text_field :word_for_search, class:"form-control", size:'40',placeholder: "キーワードを入力" %>
                <%= f.submit "Search", class:"btn btn-outline-success" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    
    <body>
      <div class="container">
        <div class="row">
          <h4 class="col p-0 alert alert-warning p-0 border-0" role="alert"><%= flash[:notice] %></h4>
        </div>
      </div>
      <%= yield %>
    </body>
    
    <footer class="mt-5 bg-dark">
      <div class="container">
        <h6 class="text-light text-right py-5 mb-0">Copyright © TecTile All Rights Reserved.</h6>
      </div>
    </footer>
  </body>
</html>
