<!DOCTYPE html>
<html>
  <head>
    <title>Tectile｜趣味のIoTを楽しむための情報投稿サイト</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="shadow-sm mb-5 bg-light">
      <%= render partial: 'layouts/header' %>
      <!-- partial _searchbar in it -->
    </header>
    
    <div class="container">
      <div class="row">
        <h4 class="col p-0 alert alert-warning p-0 border-0" role="alert"><%= flash[:notice] %></h4>
      </div>
    </div>
    <%= yield %>
    
    <footer class="mt-5 bg-dark">
      <div class="container">
        <h6 class="text-light text-right py-5 mb-0">Copyright © TecTile All Rights Reserved.</h6>
      </div>
    </footer>
  </body>
</html>
